body{
	padding: 20px;
	background-color: #00A8CC !important;
}

#container{
	margin: 0 auto;
	padding: 20px;
	background: #00D2FF;
	height: 10em;
	width: 30em;
}
#registro{
	padding: 0;
	text-align: center;
	margin:  0 auto;
}
#registro input[type="text"]{
	margin: 10px;
}
label{
	width: 20%;
	text-align: right;
}